.container {
  width: 1296px;
  margin: 0 auto;
  font-family: "Arimo", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.header {
  align-items: center;
  margin-bottom: 31px;
}

.body {
  max-width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.explore {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  border: 1px solid;
  padding: 12px 20px;
  background-color: rgba(15, 130, 119, 1);
  color: rgba(238, 238, 238, 1);
}

.nav span {
  cursor: pointer;
}
.img-logo img {
  cursor: pointer;
}
.nav-search {
  padding: 7px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: rgba(92, 92, 92, 1);
  border-radius: 4px;
}
.img-search img {
  border-radius: 1px;
}
.search {
  display: flex;
  align-items: center;
}

.right span {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
}
.login {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: rgba(15, 130, 119, 1);
  margin-right: 28px;
  padding: 10px 12px 10px 12px;
}
.sign {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: rgba(15, 130, 119, 1);
  padding: 10px 12px 10px 12px;
}
.login:hover {
  border: 4px;
  background-color: rgba(15, 130, 119, 1);
  color: white;

  text-align: center;
}

.course {
  margin-right: 48px;
}
.sign:hover {
  border: 4px;
  background-color: rgba(15, 130, 119, 1);
  color: white;
  text-align: center;
}
.background {
  background-color: rgba(219, 243, 237, 1);
  height: 602px;
  display: flex;
  align-items: center;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  border: 2px solid rgba(15, 130, 119, 1);
  border-radius: 4px;
  color: rgba(15, 130, 119, 1);
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  margin-top: 32px;
  background-color: rgba(219, 243, 237, 1);
}
.first-btn {
  margin-right: 36px;
}

.btn:hover {
  color: rgba(238, 238, 238, 1);

  background-color: rgba(15, 130, 119, 1);
}
.background h1 {
  color: rgba(0, 0, 0, 1);
  font-size: 56px;
  line-height: 67.2px;
}
.paragraph {
  color: rgba(0, 0, 0, 1);
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
}
.hero-wrapper {
  flex-direction: column;
  padding-left: 110px;
  margin-right: 94px;
}

.mask-img {
  margin-left: 54px;
}

.firts-block {
  flex-direction: column;
}
.academic {
  color: rgba(15, 130, 119, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.choose {
  font-size: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  line-height: 48px;
}
.academ-par {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.first-card {
  cursor: pointer;
  display: flex;
}
.card-img {
  width: 416px;
  height: 270px;
  margin-right: 24px;
}

.card-1 {
  display: flex;
  flex-direction: column;
}

.education {
  margin-top: 27px;
  margin-bottom: 16px;
  width: 306px;
  height: 20px;
}
.paragraph-card {
  line-height: 28.8px;
  font-size: 24px;
  font-weight: 700;
}
.proj {
  font-size: 16px;
  font-weight: 500;
  margin-top: 27px;
  width: 46.23px;
  height: 20px;
}
.get-diploma {
  color: rgba(15, 130, 119, 1);
  font-size: 16px;
  font-weight: 500;
}

.two-block {
  flex-direction: column;
}
.two-card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.popular {
  width: 306px;
  height: 270px;
  margin-right: 24px;
}
.more {
  margin-top: 43px;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: rgba(15, 130, 119, 1);
  line-height: 24px;
  cursor: pointer;
}
.arrow {
  width: 16px;
  height: 16px;
}

.three-card {
  display: flex;
  justify-content: space-between;
}
.col h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: rgba(0, 0, 0, 1);
}
.col h2 {
  color: rgba(15, 130, 119, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.col p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  color: rgba(0, 0, 0, 1);
}
.four-block {
  background-color: rgba(219, 243, 237, 1);
  height: 382px;
  text-align: center;
}
.sasa {
  text-align: center;
}
.four-block h1 {
  text-align: center;
  padding-top: 80px;
}
.four-block img {
  width: 126px;
  height: 66px;
  margin-top: 60px;
  align-items: center;
  text-align: center;
  margin-right: 30px;
}

.butt {
  color: rgba(238, 238, 238, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  padding: 10px 12px 10px 12px;
  background-color: rgba(15, 130, 119, 1);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 32px;
  border: none;
}

.imgg {
  padding: 10px;
  cursor: pointer;
}
.five-card {
  display: flex;
  align-items: center;
}
.five-block {
  align-items: center;
  margin-right: 140px;
}
.business-paragraph {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
  color: rgba(0, 0, 0, 1);
}
.six-card {
  width: 1368px;
  height: 966px;
  display: flex;
  text-align: center;
  background-color: rgba(219, 243, 237, 1);
}

.six-block {
  margin-top: 168px;
}

.six-card h1 {
  text-align: center;
}

.first {
  background-color: rgba(253, 253, 253, 1);
  width: 416px;
  height: 698px;
  border-radius: 24px;
  margin-left: 33px;
  text-align: center;
}
.btn-first {
  margin-top: 85px;
  color: rgba(246, 253, 255, 1);
  border: none;
  background-color: rgba(15, 130, 119, 1);
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.87px;
  cursor: pointer;
}
.paragraph-first {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: rgba(0, 0, 0, 1);
  margin-top: 27px;
}
.span-first {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.border {
  text-align: center;
  border: 1px solid rgba(15, 130, 119, 1);
  margin-left: 56px;
  margin-top: 48px;
  width: 304px;
}
.first h2 {
  padding-top: 56px;
}
.bullit {
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
  margin-top: 48px;
  border-radius: 500px;
  align-items: center;
  margin-bottom: 16px;
}
.bullit img {
  border-radius: 500px;
}

.two {
  background-color: rgba(15, 130, 119, 1);
  width: 416px;
  height: 698px;
  border-radius: 24px;
  margin-left: 24px;
  text-align: center;
}
.two h2 {
  color: rgba(255, 255, 255, 1);
  padding-top: 56px;
}
.btn-two {
  background-color: rgba(15, 130, 119, 1);
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.87px;
  margin-top: 37px;
  cursor: pointer;
}
.span-two {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(255, 255, 255, 1);
}
.mo {
  color: rgba(255, 255, 255, 1);
}
.paragraph-two {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: rgba(255, 255, 255, 1);
  margin-top: 27px;
}
.border-white {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-left: 56px;

  margin-top: 48px;
  width: 304px;
}
.bullit-par {
  margin-left: 16px;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
.white {
  color: rgba(255, 255, 255, 1);
}
.green {
  background-color: rgba(15, 130, 119, 1);
}
.h2-chose {
  text-align: center;
  align-items: center;
  margin-bottom: 0px;
}
.seven-card {
  text-align: center;
}
.seven-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  row-gap: 23.5px;
  margin-bottom: 76.5px;
}
.img-students-1 {
  width: 306px;
  height: 210.5px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
}
.img-students-2 {
  width: 306px;
  height: 210.5px;
  grid-column-start: 1;
  grid-row-start: 2;
}
.img-students-3 {
  width: 306px;
  height: 210.5px;
  grid-column-start: 1;
  grid-row-start: 3;
}
.img-students-9 {
  width: 636px;
  height: 445px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.img-students-4 {
  width: 306px;
  height: 210.5px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.img-students-5 {
  width: 306px;
  height: 210.5px;
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.img-students-6 {
  width: 306px;
  height: 210.5px;
  grid-column-start: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.img-students-7 {
  width: 306px;
  height: 210.5px;
  grid-column-start: 4;
  grid-row-start: 2;
}
.img-students-8 {
  width: 306px;
  height: 210.5px;
  grid-column-start: 4;
  grid-row-start: 1;
}

.Eight-card {
  height: 727px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./img/backgroundform.jpg);
}
.Eight-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.input-item {
  margin-bottom: 24px;
  padding: 12px;
}
.label {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.form-input {
  margin-top: 65px;
  border-radius: 24px;
  background-color: rgba(219, 243, 237, 1);
  width: 565px;
  height: 614px;
}
.lb {
  display: flex;
  justify-content: left;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 8px;
}
.input-reg {
  padding: 30px;
}
.input-btn {
  padding: 10px 12px 10px 12px;
  background-color: rgba(15, 130, 119, 1);
  width: 196px;
  height: 42px;
  border-radius: 4px;
  color: rgba(246, 253, 255, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.87px;
  border: none;
  cursor: pointer;
  margin-top: 24px;
}
.paragraph-input {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 30px;
}
.form-ipnut h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.nine-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-block-one {
  margin-left: 36px;
  margin-top: 64px;
  margin-bottom: 64px;
}
.footer-block-two {
  margin-right: 36px;
  margin-top: 64px;
  margin-bottom: 64px;
}
.footer-block-one h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}
.footer-block-one p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  margin-top: 16px;
}
.footer-block-two p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  margin-top: 60px;
}
